.client-list {
    display: flex;
    margin-top: 50px;

    .client-list__item {
        width: 170px;
        height: 92px;

        &:not(:first-child) {
                margin-left: 30px;
            }
    }

    

    .client-list__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;

        border: 1px solid var(--svg-icon);
        border-radius: 4px;

        color: var(--svg-icon);

        transition-property: border-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border-color: var(--accent-color);
            color: var(--accent-color);
        }
        
        svg {
            fill: currentColor;
        }
    }    
}

