.client-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-gap);

    @include mq(mob-only){
        --card-item: 2;
    }
    
    @include mq(tab) {
        --card-item: 3;
    }
    
    @include mq(desc) {
        --card-item: 6;
    }
    

    .client-list__item {
        height: 92px;
    }    

    .client-list__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;

        border: 1px solid var(--svg-icon);
        border-radius: 4px;

        color: var(--svg-icon);

        transition-property: border-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border-color: var(--accent-color);
            color: var(--accent-color);
        }
        
        svg {
            fill: currentColor;
        }
    }    
}

