.container {
    margin: 0 auto;
    // width: 480px;
    padding-left: 15px;
    padding-right: 15px;

    @include mq(tab){
        width: 738px;
    }

    @include mq(desc){
        width: 1200px;
    }
}

.container--flex {
    display: flex;
    align-items: center;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(tab){
        flex-direction: row;
        flex-wrap: wrap;
        // align-items: flex-start;
        justify-content: space-between;
    }

    @include mq(desc){
        flex-direction: row;
        align-items: baseline;
    }
}

