.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @include mq(desc){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section--features {
    padding-bottom: 0;
}

.section-work{
    @include mq(noDesc) {
        display: none;
    }
}

.section--team {
    background-color: var(--light-background);
}