:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --negative-color: #fff;
    --dark-background: #2F303A;
    --footer-opacity: rgba(255, 255, 255, 0.6);
    --light-background: #f5f4fa;
    --svg-icon: #AFB1B8;
    --font-roboto: Roboto, sans-serif;
    --font-logo: Raleway;
}

